layout {
    pane split_direction="vertical" {
        pane {
            pane {
                name "consul"
                command "podman"
                args "attach" "consul"
            }
            pane {
                name "wiresmith1-systemd"
                command "podman"
                args "attach" "wiresmith1"
            }
            pane {
                name "wiresmith2-systemd"
                command "podman"
                args "attach" "wiresmith2"
            }
        }
        pane {
            pane {
                name "wiresmith1"
                command "podman"
                args "exec" "wiresmith1" "bash" "-c" "pacman -Sy --noconfirm wireguard-tools && systemctl start systemd-networkd && wiresmith --consul-address http://10.0.2.2:8500 --network 10.0.0.0/24 --endpoint-address 10.0.2.2 --update-period 1 --peer-timeout 2 -p 11111 -v"
            }
            pane {
                name "wiresmith2"
                command "podman"
                args "exec" "wiresmith2" "bash" "-c" "pacman -Sy --noconfirm wireguard-tools && systemctl start systemd-networkd && wiresmith --consul-address http://10.0.2.2:8500 --network 10.0.0.0/24 --endpoint-address 10.0.2.2 --update-period 1 --peer-timeout 3 -p 22222 -v"
            }
        }
    }
    pane size=2 borderless=true {
        plugin location="zellij:status-bar"
    }
}
